# Dashboard Pomiarów Ciśnienia Krwi - Wymagane biblioteki

python-dotenv>=1.2.1

# Framework i UI
dash>=3.3.0

# Analiza danych
pandas>=2.3.3
scipy>=1.16.3
numpy>=2.4.0

# Integracja z Google Sheets
gspread>=6.2.1
gspread-dataframe>=4.0.0

# Wizualizacja
plotly>=6.5.0
Pillow>=12.0.0

# Opcjonalne (do exportu zaawansowanego)
# kaleido>=0.2.1  # Export wykresów do PNG/PDF
